.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

@include md {
  .section {
    padding: 7rem 0 2rem;
  }
}
