.discount__container {
  background: var(--container-color);
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: 0.75rem;
}

.discount__data {
  text-align: center;

  > .title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
  }
}

.discount__img {
  width: 200px;
  justify-self: center;
}
